#ColorPicker {
    flex-direction: column;
    align-items: center;
}

#SBSquareAlphaSliderContainer {
    flex-grow: 1;
    flex-direction: row;
}

#ColorPicker .unity-slider__input {
    background-color: transparent;
    border-radius: 6px;
    border-width: 0;
}

#SBHandle {
    width: 18px;
    height: 18px;
    border-width: 4px;
    border-color: white;
    border-radius: 16px;
    border-color: rgba(0, 0, 0, 0);
    background-image: url('project://database/Packages/UitkForKsp2.Unity/Assets/Templates/ColorPicker/color-handle.png?fileID=2800000&guid=291b6dc25bcc19d4e81c6c0fec4d7e0b&type=3#color-handle');
}

#ColorPicker .unity-slider__input > .unity-base-slider__drag-container > .unity-base-slider__dragger {
    width: 18px;
    height: 18px;
    border-width: 4px;
    border-color: white;
    border-radius: 16px;
    border-color: rgba(0, 0, 0, 0);
    background-image: url('project://database/Packages/UitkForKsp2.Unity/Assets/Templates/ColorPicker/color-handle.png?fileID=2800000&guid=291b6dc25bcc19d4e81c6c0fec4d7e0b&type=3#color-handle');
    background-color: rgba(0, 0, 0, 0);
}

#ColorPicker .unity-slider__input > .unity-base-slider__drag-container > .unity-base-slider__tracker {
    height: 0;
    width: 0;
    margin: 0;
}

#HueSlider > .unity-slider__input > .unity-base-slider__drag-container > .unity-base-slider__dragger {
    margin-top: -10px;
}

#HueSlider {
    width: 100%;
    margin-bottom: 4px;
}

#HueSlider > .unity-slider__input {
    border-radius: 8px;
}

#HueSlider > .unity-slider__input > .unity-base-slider__drag-container {
    height: 24px;
}

#AlphaSliderBackground {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 9px;
    overflow: hidden;
}

#AlphaSlider {
    padding: 0;
    width: 24px;
    min-height: auto;
    background-image: url('project://database/Assets/ReduxAssets/UI/Component/ColorPicker/transparent-grid.png?fileID=2800000&guid=3e45c337d76f62d438ee01e5d542c78b&type=3#transparent-grid');
    -unity-background-scale-mode: scale-to-fit;
    background-repeat: repeat;
    background-size: 24px 24px;
    overflow: hidden;
}

#AlphaSlider > .unity-slider__input {
    width: 110%;
    margin: -1px;
}

#AlphaSlider > .unity-slider__input > .unity-base-slider__drag-container > .unity-base-slider__dragger {
    margin-left: -9px;
}

#SBSquareBackground {
    position: relative;
    width: 250px;
    height: 250px;
    margin-right: 8px;
    border-radius: 8px;
}

#SBSquare {
    position: relative;
    width: 250px;
    height: 250px;
}

#SBHandle {
    position: absolute;
}
